<p style="color: green"><%= notice %></p>

<h1>Emails</h1>

<div id="emails">
  <% @emails.each do |email| %>
    <%= render email %>
    <div style="margin: 10px;">
      <%= link_to "Show this email", email, class:"btn btn-outline-dark" %>
    </div>
  <% end %>
</div>

