<p style="color: green"><%= notice %></p>

<h1>Seznam Emailů</h1>

<div class="flexbox-container">
  <div>
    <%= link_to "Zobrazit všechny osoby", people_path, class:"btn btn-outline-dark" %>
  </div>
</div>

<div id="emails" class="list-item">
  <% @emails.each do |email| %>
    <%= render email %>
    <div style="margin: 10px;">
      <%= link_to "Ukázat tento email", email, class:"btn btn-outline-dark" %>
    </div>
  <% end %>
</div>

