<h1>Přidat email</h1>

<div class="list-item">
  <%= render "form", email: @email %>

  <div class="flexbox-container">
    <%= link_to "<< Zpět", :back, class:"btn btn-outline-dark" %>
  </div>
</div>
